html, body{
    height: 100%;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    display: grid;
    grid-template:
        "top top" 150px
        "aside main" auto
        "footer footer" 100px;
    grid-template-columns:9% 91%;
}
header{
    grid-area: top;
    display: grid;
    grid-template-rows: 75% 25%;
    border: 1px solid #333;
}
#title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
}
header img{
    padding: 10px;
    max-height: 100%;
    border-radius: 50%;
    max-height: 100px;
}
#menu{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
}
#menu a{
    padding:9px;
    margin: 0px;
    color: teal;
    border-radius: 10%;
    border:1px solid teal;
    text-decoration: none; 
}
aside{
    display: grid;
    grid-area: aside;
    border:1px solid #333;
    justify-content: space-between;
}
aside a{
    text-decoration: none;
    display: block;
    color: teal;
    border: 1px solid teal;
    border-radius: 10%;
    padding-right: 76px;
}
aside button{
    align-items: flex-end;
    border: 1px solid teal;
    border-radius: 10px;
}
main{
    display: grid;
    grid-area: main;
    border:1px solid #333;
}

footer{
    display:grdid;
    grid-area:footer;
    border:1px solid #333;
}