html, body{
    height: 100%;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
body{
    display: grid;
    grid-template:
        "top top" 150px
        "aside main" auto
        "footer footer" 100px;
}
top{
    display: grid;
    grid-area: top;
    grid-template-rows: 80% 20%;
    border: 1px solid #333;
}
top section{
    border: 1ppx solid #333;
}
#top-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
}
top img{
    max-height: 100%;
    border-radius: 50%;
    max-height: 100px;
}
#top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    padding: 0 15px;
}

aside{
    display: grid;
    grid-area: aside;
    border:1px solid #333;
}

main{
    display: grid;
    grid-area: main;
    border:1px solid #333;
}

footer{
    display:grdid;
    grid-area:footer;
    border:1px solid #333;
}